<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheResult="false"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="2G"/>
    </php>

    <testsuites>
        <testsuite name="Sambo-Search Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>